*{
    z-index: 2;
}

#modes{
    display: flex;
    flex-direction: row;
    width: 50vh;
    justify-content: space-around;
}

#modes button{
    width: 30%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 40px;
}


.selected-mode{
    background-color: #2eb555;
}

.selected-mode:hover{
    background-color: #66b67c;
}

#field{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vh;
    height: 50vh;
    background-color: aliceblue;
    background-image: url("../img/field.svg");
    background-size:contain;
}

.terminals{
    display: flex;
    flex-direction: row;
    height: calc(100%/12);
    width: 100%;
}


.t1, .t2{
    color: white;
    width: calc(8.333% - 2px);
    height: calc(100% - 2px);
}

.t2{
    margin-left: auto;

}

.red-terminal-filled{
    background-color: #ED1C24;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blue-terminal-filled{
    background-color: #0066B3;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blue{
    background-color: #0066B3;
}

.red{
    background-color: #ED1C24;
}

#center{
    height: calc(250%/3);
    width: calc(250%/3);
    display: flex;
    flex-direction: column;
}

.row{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.junction{
    width: 20%;
    color: aliceblue;
    z-index: 10;
    font-size: 2.5vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.junction p{
    z-index: 10;
}


.cone-circle{
    position:absolute;
    border-radius: 50%;
    width: 70%;
    height: 70%;
    z-index: 1;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.beacon-circle{
    position:absolute;
    border-radius: 50%;
    width: 70%;
    height: 70%;
    z-index: 1;
    background-color: gold !important;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}
