*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
    position: relative;
}

hr{
    background-color: #373737;
}

.center{
    margin: auto;
}

#display{
    width: 70%;
    height: 100%;
    background-color: #511938;
    float: left;
    text-align: center;
}
#mode{
    display: block;

    height: 8.3333%;
    background-color: #511938;
    display: flex;
    justify-content: center;

}
#mode h1{
    font-size: 6vh;
    color: white;
    user-select: none;
}

#mode:hover{
    cursor: pointer;
    background-color: #70224d;
}

#central{
    height: 91.666%;
    align-items: center;
    background-color: darkgray;
    position: relative;

}

#circle{
    border-radius: 50%;
    background-color: yellow;
    position: absolute;
    width: 1px;
    height: 1px;
    display: none;
    top: 0;
    left: 0;
    overflow-y: auto;
    transition: 0.5s;
    transform: scale(1);
    transition-property: background-color, transform;
    
    
}

.cone-pressed{
    background-color: #2eb555 !important;
    transform: scale(20) !important;
    transition: 0.5s;
    transition-property: background-color, transform;
}


#field{
    object-fit:contain;
    height: 100%;
    width: 100%;
    display: block;
    padding: 20px;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;    
    user-select: none;
}

#options{
    height: 100%;
    outline: 1px solid #000;
    overflow: hidden;
    text-align: center;
    background-color: #511938;
}

#options-header{
    color: white;
    font-size: 6vh;
    padding: 5px;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;    
}

#cone-selector{
    align-items: center;
    list-style: none;
    
}

.cone-option{
    width: 90%;
    height: 10vh;
    border: none;
    font-size: 6vh;
    background-color:  #008BF8;
    color: #EDE6E3;
}

.cone-option:hover{
    cursor: pointer;
    background-color: #4865d6;
}

.selected{
    background-color: #44CF6C !important;
}

.selected:hover{
    background-color: #2eb555 !important;
}

#undo{
    width: 90%;
    height: 10vh;
    border: none;
    font-size: 6vh;
    background-color: #6b6b6b;
    color: #EDE6E3;
}

#undo:hover{
    cursor: pointer;
    background-color: #808080;
}


p, #cones{
    display: inline-block;
    font-size: 3vh;
    color: #EDE6E3;
}

#rotate{
    width: 20%;
    height: 50px;
    background-color: #2eb555;
}

#rotate:hover{
    cursor: pointer;
}